@model Game
@{
    ViewData["Title"] = "Quoridor";
    //Layout = null;
}
<h1>@ViewData["Title"]</h1>

@*<p>Let's play!</p>*@

@{
    object SetFenceInvoke()
    {
        Quoridor.Controllers.QuoridorController g = new Quoridor.Controllers.QuoridorController(); //какая-то дичь
        return g.SetFence(new Cell() { X = "b", Y = 0 }, new Cell() { X = "b", Y = 1 });
        //Model.SetFence(new Cell() { X = "b", Y = 0 }, new Cell() { X = "b", Y = 1 });
        //return Model.SecondPWalls;
    }
}

<div class="buttons">
    <button type="button" id="restart" class="button above restart">New game</button>
</div>

<div class="gridcontainer0">
    <div id="number_of_left_walls_box">
        <div><div class="symbol1"></div><div class="horizontal_wall symbol"></div><div class="mul_sign_wall_num_container"><div class="multiplication_sign">×</div><div id="num1" class="wall_num">@ViewData["fPwalls"]</div></div></div>
        <div><div class="symbol2"></div><div class="horizontal_wall symbol"></div><div class="mul_sign_wall_num_container"><div class="multiplication_sign">×</div><div id="num2" class="wall_num">@ViewData["sPwalls"]</div></div></div>
    </div>
    <div id="board_table_container">
        <div class="fade_box in hidden" id="restart_message_box">
            Are you sure to start a new game?
            <br>
            (Current game will be lost.)
            <form method="post" asp-controller="Quoridor" asp-action="NewGame">
                <div class="button_container in_message_box">
                    <!--<button type="button" class="restart_yes_no" id="restart_no">Cancel</button>
                    <button type="button" class="restart_yes_no" id="restart_yes">Start</button> -->
                    <input type="button" class="restart_yes_no" id="restart_no" value="Cancel">
                    <input type="submit" class="restart_yes_no" id="restart_yes" value="Start">
                </div>
            </form>
        </div>
        <table id="board_table" class="geek" border="1">
            <tr class="row1">
                <td class="col cell" @*onclick="@(() =>  @UpdatePossibleMoves() )"*@></td>
                <td class="between_cols vwall" @*onclick="@SetFenceInvoke()"*@></td>
                <td class="col cell"></td>
                <td class="between_cols vwall" @*onclick="@Model.SetFence(new Cell() { X="c", Y = 0},new Cell(){ X = "c", Y = 1})"*@></td>
                <td class="col cell"></td>
                <td class="between_cols vwall" @*onclick="@Model.SetFence(new Cell() { X="d", Y = 0},new Cell(){ X = "d", Y = 1})"*@></td>
                <td class="col cell"></td>
                <td class="between_cols vwall" @*onclick="@Model.SetFence(new Cell() { X="e", Y = 0},new Cell(){ X = "e", Y = 1})"*@></td>
                <td class="col cell"><div class="pawn pawn0" id="pawn0"></div></td>
                <td class="between_cols vwall" @*onclick="@Model.SetFence(new Cell() { X="f", Y = 0},new Cell(){ X = "f", Y = 1})"*@></td>
                <td class="col cell"></td>
                <td class="between_cols vwall" @*onclick="@Model.SetFence(new Cell() { X="g", Y = 0},new Cell(){ X = "g", Y = 1})"*@></td>
                <td class="col cell"></td>
                <td class="between_cols vwall" @*onclick="@Model.SetFence(new Cell() { X="h", Y = 0},new Cell(){ X = "h", Y = 1})"*@></td>
                <td class="col cell"></td>
                <td class="between_cols vwall" @*onclick="@Model.SetFence(new Cell() { X="i", Y = 0},new Cell(){ X = "i", Y = 1})"*@></td>
                <td class="col cell"></td>
            </tr>
            <tr class="between_rows">
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
            </tr>
            <tr>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell" @*onclick="console.log(@ViewData["moves"]);"*@></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
            </tr>
            <tr class="between_rows">
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
            </tr>
            <tr>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
            </tr>
            <tr class="between_rows">
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
            </tr>
            <tr>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
            </tr>
            <tr class="between_rows">
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
            </tr>
            <tr>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
            </tr>
            <tr class="between_rows">
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
            </tr>
            <tr>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
            </tr>
            <tr class="between_rows">
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
            </tr>
            <tr>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
            </tr>
            <tr class="between_rows">
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
            </tr>
            <tr>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
            </tr>
            <tr class="between_rows">
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
                <td class="between_cols"></td>
                <td class="col hwall"></td>
            </tr>
            <tr class="row10">
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"><div class="pawn pawn1" id="pawn1"></div></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
                <td class="between_cols vwall"></td>
                <td class="col cell"></td>
            </tr>
        </table>
    </div>
</div>
<div>
    <div>
        <form asp-controller="Quoridor" asp-action="PossibleMoves" data-ajax="true" data-ajax-method="POST" data-ajax-update="#movesHelper" data-ajax-mode="replace">
            <input type="submit" name="btnsearch" value="Search" />
            <div id="movesHelper">
                @*@foreach (var item in @Model.PossibleMovePawn())
        {
            <div class="posMoveX">@item[0]</div><div class="posMoveY">@item[1]</div>
            <br />
        }
                <div class="posMoveX">-1</div><div class="posMoveY">0</div>
        <div class="posMoveX">1</div><div class="posMoveY">0</div>
        <div class="posMoveX">0</div><div class="posMoveY">-1</div>
        <div class="posMoveX">0</div><div class="posMoveY">1</div>*@
                @*@{Html.RenderPartial("PartialMoves", Model.PossibleMovePawn());}*@

            </div>
        </form>
    </div>
    
    
    @*@using (Ajax.BeginForm("PossibleMoves", "Quoridor", new AjaxOptions { UpdateTargetId = "movesHelper", HttpMethod = "Post", InsertionMode = InsertionMode.Replace }))
        {

        }*@
</div>


@{
    


    @*@functions{
            public string UpdatePossibleMoves()
            {
                var str = string.Empty;
                foreach (var item in @Model.PossibleMovePawn())
                {
                    str+="<div class=\"posMoveX\">"+@item[0]+"</div><div class=\"posMoveY\">"+@item[1]+"</div><br />";
                }

                return str;
            }
        }*@
}

<script>
    function moves() {
        let myArray = @ViewData["moves"];
        console.log(myArray);
    }
    

    @*const cell = document.querySelectorAll(".cell");

    cell.forEach((element) => {

        //if (element.firstChild.classList.contains('pawnShadow0') || element.firstChild.classList.contains('pawnShadow1')) {
        element.addEventListener('click', @UpdatePossibleMoves);
        //}

    });*@
</script>
@*<table>
        <tbody>
            <tr>
                <td>1</td>
                <td class="between_cols"> 1</td>
                <td></td>
                <td class="between_cols"> 1</td>
                <td></td>
                <td class="between_cols"> 1</td>
                <td></td>
                <td class="between_cols"> 1</td>
                <td></td>
                <td class="between_cols"> 1</td>
                <td></td>
                <td class="between_cols"> 1</td>
                <td></td>
                <td class="between_cols"> 1</td>
                <td></td>
                <td class="between_cols"> 1</td>
                <td></td>
                <td class="between_cols">1 </td>
            </tr>
        </tbody>
    </table>*@
